# **CH02. print() 서식 출력**

In [ ]:
print("%d" % 123)  
print("%5d" % 123)  
print("%05d" % 123)  

print("%f" % 123.45)  
print("%7.1f" % 123.45)  
print("%7.3f" % 123.45)  

print("%s" % "대한민국")
print("%8s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
    대한민국

#### Fomat 함수 : 순서 지정 가능

In [ ]:
print("{0:d} {1:5d} {2:05d}". format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}". format(123,456,789))

789   456 00123

#### 서식 출력

In [ ]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [ ]:
print("\t탭키\t연습")

	탭키	연습

In [ ]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과2")
print("역슬레시 3개출력\\\\\\")
print(r"\n \t \" \\를 그대로 출력") # 그대로 출력됨

글자가 "강조"되는 효과1
글자가 '강조'되는 효과2
역슬레시 3개출력\\\
\n \t \" \\를 그대로 출력

####관계 연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

논리 연산자

In [ ]:
a = 99
print((a>100) and (a<200))
print((a>100) or (a<200))
print(not(a==100))

False
True
True

In [ ]:
if(123):
  print("참이면 보입니다.")
if(0): 
  pirnt("거짓이면 안 보입니다.")

참이면 보입니다.

##### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램( 500원, 100원, 50원, 10원) 나머지는 거스름 돈으로 출력

In [ ]:
# 변수
bill, c500, c100, c50, c10 = 0, 0, 0, 0, 0

bill = int(input( "바꿀 금액을 입력하세요 : "))

c500 = bill // 500 #몫
bill %= 500 # bill = bill % 500

c100 = bill // 100
bill %= 100

c50 = bill // 50
bill %= 50

c10 = bill // 10
bill %= 10

c1 = bill // 1
bill %= 1

print("500원 동전 : %d개" % c500)
print("100원 동전: %d개" % c100)
print("50원 동전 : %d개" % c50)
print("10원 동전 : %d개" % c10)
print("잔돈 %d원" % c1)

바꿀 금액을 입력하세요 : 2753
500원 동전 : 5개
100원 동전: 2개
50원 동전 : 1개
10원 동전 : 0개
잔돈 3원

## 조건문

In [ ]:
 a = 2000
 if(a<100):
   print("100보다 작다")
else :
   print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [ ]:
 # 홀짝 구분
 a = int(input("정수를 입력하세요 : "))
 if(a % 2 == 0):
   print("짝수")
else :
    print("홀수")

정수를 입력하세요 : 5
홀수

In [ ]:
a = 120
if(a > 50) :
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

a>100

In [ ]:
fruit = ['사과', '배', '감', '포도']
fruit.append('딸기')
if '딸기' in fruit:
  print("딸기가 있습니다.")
print(fruit)

딸기가 있습니다.
['사과', '배', '감', '포도', '딸기']

In [ ]:
import random

number = []
for nim in range(0,6) :
  number.append(random.randrange(1,46))
print("생성된 리스트", number)

생성된 리스트 [43, 7, 32, 20, 38, 23]

## 반복문

In [ ]:
for i in range(0,3,1): # 시작값, 끝값+1
  print("%d 안녕하세요~" % i) # 반복 내용
  #print(i)
print("반갑습니다.")

0 안녕하세요~
1 안녕하세요~
2 안녕하세요~
반갑습니다.

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end =" ")
print("\n")
for i in range(1,9,1):
  print("%d " % i, end ="")

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8

In [ ]:
sum = 0 
for i in range(1,11,1):
  sum = sum + i
print("1~10까지 합계 : %d" % sum)

1~10까지 합계 : 55

#### Quiz3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 출력하시오.

In [ ]:
num = int(input("숫자를 입력하세요: "))

sum = 0
for i in range(1, num+1, 1):
    sum = sum + i
print("1~n까지 합계 : %d" % sum)

숫자를 입력하세요: 10000
1~n까지 합계 : 50005000

#### 중첩 for문

In [ ]:
i , j , k=0, 0, 0
for i in range(1,10, 1):
  for j in range(1, 10, 1):
   print("%d x %d = %2d" % (i,j,i*j)) 
print("")

1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
1 x 6 =  6
1 x 7 =  7
1 x 8 =  8
1 x 9 =  9
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
m,n = 0,0
for m in range(1,10,1):
  for n in range(2, 6, 1):
    print("%d x %d = %2d \t" % (n,m,m*n), end = '')
  print("")
print("\n")
k,j = 0, 0
for k in range(1,10,1):
  for j in range(6, 10, 1):
    print("%d x %d = %2d \t" % (j,k,k*j), end = '')
  print("")

2 x 1 =  2 	3 x 1 =  3 	4 x 1 =  4 	5 x 1 =  5
2 x 2 =  4 	3 x 2 =  6 	4 x 2 =  8 	5 x 2 = 10
2 x 3 =  6 	3 x 3 =  9 	4 x 3 = 12 	5 x 3 = 15
2 x 4 =  8 	3 x 4 = 12 	4 x 4 = 16 	5 x 4 = 20
2 x 5 = 10 	3 x 5 = 15 	4 x 5 = 20 	5 x 5 = 25
2 x 6 = 12 	3 x 6 = 18 	4 x 6 = 24 	5 x 6 = 30
2 x 7 = 14 	3 x 7 = 21 	4 x 7 = 28 	5 x 7 = 35
2 x 8 = 16 	3 x 8 = 24 	4 x 8 = 32 	5 x 8 = 40
2 x 9 = 18 	3 x 9 = 27 	4 x 9 = 36 	5 x 9 = 45


6 x 1 =  6 	7 x 1 =  7 	8 x 1 =  8 	9 x 1 =  9
6 x 2 = 12 	7 x 2 = 14 	8 x 2 = 16 	9 x 2 = 18
6 x 3 = 18 	7 x 3 = 21 	8 x 3 = 24 	9 x 3 = 27
6 x 4 = 24 	7 x 4 = 28 	8 x 4 = 32 	9 x 4 = 36
6 x 5 = 30 	7 x 5 = 35 	8 x 5 = 40 	9 x 5 = 45
6 x 6 = 36 	7 x 6 = 42 	8 x 6 = 48 	9 x 6 = 54
6 x 7 = 42 	7 x 7 = 49 	8 x 7 = 56 	9 x 7 = 63
6 x 8 = 48 	7 x 8 = 56 	8 x 8 = 64 	9 x 8 = 72
6 x 9 = 54 	7 x 9 = 63 	8 x 9 = 72 	9 x 9 = 81