# **CH03. 자료형**


## 1. 인덱스와 슬라이싱

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[4])

4

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[-1])

9

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[1:9:2])

[1, 3, 5, 7]

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(len(L))
print(L[len(L)-1])

10
9

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
L[0] = 99
L[9] = '가나다'
L[1] = [1,2,3]
print(L)
print(L[9])

[99, [1, 2, 3], 2, 3, 4, 5, 6, 7, 8, '가나다']
가나다

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(a+b)
print(c)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
L = [1,2,3,4,5]
print(L)
L.append(6)  #리스트 뒤에 추가.
print(L)
L.remove(3)  #리스트에 해당되는 요소 값을 삭제한다. 
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
k = ['a','b','c','d']
k.remove('b')
print(k)

['a', 'c', 'd']

In [ ]:
k = "God is love!"
print(k[:3])
print(k[6:])
print(k[-8:-1])

God
 love!
is love

In [ ]:
k = " God is love! "
print(k.upper())
print(k.lower())
print(k.strip())

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a = " God, is, love! "
print(a.split(","))

[' God', ' is', ' love! ']

In [ ]:
a = ["apple", "banana", "cherry"]
a.append("orrange") #맨뒤에 추가가
print(a)

['apple', 'banana', 'cherry', 'orrange']

In [ ]:
a = ["apple", "banana", "cherry"]
a.insert(1,"orrange") #지정된 곳에 삽입입
print(a)

['apple', 'orrange', 'banana', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry"]
a.remove("banana")
print(a)

['apple', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry"]
a.pop()  # 지정을 하지 않으연 맨뒤 값 삭제
print(a)
a.pop(1) #지정한 위치치 삭제
print(a)

['apple', 'banana']
['apple']

In [ ]:
a = ["apple", "banana", "cherry"]
del a[0]
print(a)
a.clear()
print(a)

['banana', 'cherry']
[]

In [ ]:
fruit = ["apple", "banana", "cherry"]
for x in fruit:
  print(x)

apple
banana
cherry

In [ ]:
fruit = ["apple", "banana", "cherry"]
for i in range(len(fruit)):
  print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

#### SORT

In [ ]:
a = [5,3,6,8,1,9,0]
a.sort()
print(a)

[0, 1, 3, 5, 6, 8, 9]

In [ ]:
a = [5,3,6,8,1,9,0,2,4,7]
a.sort(reverse = True)
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fruit = ["apple", "Kiwi", "banana", "cherry", "Orange"]
fruit.sort()  # 대소문자 구분하여 정렬렬
print(fruit)
fruit.sort(key = str.lower)  # 대소문자 구분 없이 정렬렬
print(fruit)
fruit.reverse() # 항목의 순서를 반대로 바꿈
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'cherry', 'banana', 'apple']

In [ ]:
# list 복사
fruit = ["apple", "Kiwi", "banana", "cherry", "Orange"]
myList = fruit.copy()
print(myList)
cpList = list(fruit)
print(cpList)

['apple', 'Kiwi', 'banana', 'cherry', 'Orange']
['apple', 'Kiwi', 'banana', 'cherry', 'Orange']

## **2. Tuple 자료형**

In [ ]:
l = [1,2,3]
t = (4,5,6) # 튜플은 괄호가 다르다.
l[0] = 5
print(l)
#t[0] = 1  # 튜플의 값은 변경 할수 없다. 
print(t)

[5, 2, 3]
(4, 5, 6)

In [ ]:
f = ("apple", "Kiwi", "banana", "cherry", "Orange")
print(len(f))

5

In [ ]:
t = ("apple",)
print(t)
print(type(t))
f = ("banana") # 튜플로 인식하기 위해서는 "," 필요
print(f)
print(type(f)) # ","가 없어서 str로 인식식

('apple',)
<class 'tuple'>
banana
<class 'str'>

In [ ]:
f = ("apple", "Kiwi", "banana", "cherry", "Orange")
print(f[:4])
print(f[2:])

('apple', 'Kiwi', 'banana', 'cherry')
('banana', 'cherry', 'Orange')

In [ ]:
f = ("apple", "Kiwi", "banana", "cherry", "Orange")
if "apple" in f:
  print("Yes, 'apple' is in")
else:
  print("No")

Yes, 'apple' is in

#### list <-> tuple

In [ ]:
# 리스트를 튜플로 바꾸기
firm = ['Samsung', 'LG', 'SK']
tdata = tuple(firm)
print(firm)
print(tdata)

['Samsung', 'LG', 'SK']
('Samsung', 'LG', 'SK')

In [ ]:
# tuple에 추가
t = ("apple", "Kiwi", "banana", "cherry")
y = list(t)
y.append("orange")
t = tuple(y)
print(t)

('apple', 'Kiwi', 'banana', 'cherry', 'orange')

In [ ]:
t = ("apple", "banana", "cherry")
q = ("kiwi",)
t += q
print(t)

('apple', 'banana', 'cherry', 'kiwi')

In [ ]:
t = ('apple', 'banana', 'cherry', 'kiwi')
l = list(t)
l.remove('apple')
t = tuple(l)
print(t)
del t
#print(t)

('banana', 'cherry', 'kiwi')

## **3. dict 사전자료형**

In [ ]:
d = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
print(car)
print(len(car))
car["year"] = 2000
car["item"] = 123456
car.update({"color" : "red"})
print(car)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}
3
{'brand': 'BMW', 'model': 'GT', 'year': 2000, 'item': 123456, 'color': 'red'}

In [ ]:
# 항목 제거
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
car.pop("model")
print(car)

{'brand': 'BMW', 'year': 1988}

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
car.popitem() 
print(car)

{'brand': 'BMW', 'model': 'GT'}

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
car.clear() # 비움
#del car # 삭제
print(car)

{}

### LOOP

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
# 값을 하나씩 인쇄 
for x in car:
  print(car[x])

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
for x in car.values():
  print(x)

BMW
GT
1988

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
for x,y in car.items():
  print(x,y)

brand BMW
model GT
year 1988

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
myCar = car.copy()
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [ ]:
car = {
    "brand" : "BMW" ,
    "model" : "GT" ,
    "year" : 1988
}
myCar = dict(car)
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [ ]:
name1 = {"name":"홍길동","year":2001}
name2 = {"name":"갑돌이","year":2010}
name3 = {"name":"갑순이","year":2003}
family = {
    "첫째" : name1,
    "둘째" : name2,
    "셋째" : name3
}
print(family)

{'첫째': {'name': '홍길동', 'year': 2001}, '둘째': {'name': '갑돌이', 'year': 2010}, '셋째': {'name': '갑순이', 'year': 2003}}