<a href="https://colab.research.google.com/github/sik-kkkkk/python/blob/main/ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH4조건문, 반복문

##중첩 if문

In [ ]:
score = int(input("점수를 입력해 주세요 :"))
if (score > 100):
  print("0~100까지의 숫자로 입력하세요") 
elif(score >= 90):
 print("A")
elif(score >= 80):
 print("B")
elif(score >=70): 
 print("C")
elif(score >= 60):
 print("D")
else:
 print("F")
print("학점, 점수: %3d" %score)

점수를 입력해 주세요 :80
B
학점, 점수:  80

In [ ]:
import random

numbers = []
for num in range(0,10):
  numbers.append(random.randrange(0,10))

print("생성된 리스트", numbers)

for num in range(0,10):
  if num not in numbers:
    print("숫자 %d는 리스트에 없습니다." %num)
  else:
    print("숫자 %d는 리스트에 있습니다." %num)

생성된 리스트 [7, 0, 4, 9, 7, 4, 0, 9, 0, 7]
숫자 0는 리스트에 있습니다.
숫자 1는 리스트에 없습니다.
숫자 2는 리스트에 없습니다.
숫자 3는 리스트에 없습니다.
숫자 4는 리스트에 있습니다.
숫자 5는 리스트에 없습니다.
숫자 6는 리스트에 없습니다.
숫자 7는 리스트에 있습니다.
숫자 8는 리스트에 없습니다.
숫자 9는 리스트에 있습니다.

In [ ]:
select, answer, numStr, num1, num2 = 0,0,"",0,0
select = int(input("1.입력한 수식 계산 2.두수의 합계"))

if select == 1:
  numStr = input("*** 수식을 입력하세요(1+2) : ")
  answer = eval(numStr) # 1+2, "string"+"str"
  print("%s 결과는 %5.1f 입니다." %(numStr,answer))
elif select == 2:
  num1 = int(input("***첫번째 숫자를 입력하세요 : "))
  num2 = int(input("***두번째 숫자를 입력하세요 : "))
  for i in range(num1,num2+1):
    answer = answer + i
  print("%d+...+%d는 %d입니다.  " %(num1,num2,answer))
else:
  print("1또는 2만 입력해야 합니다.")

1.입력한 수식 계산 2.두수의 합계2
***첫번째 숫자를 입력하세요 : 2
***두번째 숫자를 입력하세요 : 9
2+...+9는 44입니다.

## for & while 반복문

In [ ]:
for i in range(0,3,1):
  print("안녕!")

안녕!
안녕!
안녕!

In [ ]:
for i in [0,3,10]:  #[]를 사용할땐 range를 쓰지 않아도 된다. 
  print("안녕!")

안녕!
안녕!
안녕!

In [ ]:
for i in range(0,3,1):
  for j in range(0,5,1):
    print("i:%d, j:%d" %(i,j))

i:0, j:0
i:0, j:1
i:0, j:2
i:0, j:3
i:0, j:4
i:1, j:0
i:1, j:1
i:1, j:2
i:1, j:3
i:1, j:4
i:2, j:0
i:2, j:1
i:2, j:2
i:2, j:3
i:2, j:4

In [ ]:
i,j = 0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" %(i,j,i*j), end='')
  print("")

2 x 1 =  22 x 2 =  42 x 3 =  62 x 4 =  82 x 5 = 102 x 6 = 122 x 7 = 142 x 8 = 162 x 9 = 18
3 x 1 =  33 x 2 =  63 x 3 =  93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 27
4 x 1 =  44 x 2 =  84 x 3 = 124 x 4 = 164 x 5 = 204 x 6 = 244 x 7 = 284 x 8 = 324 x 9 = 36
5 x 1 =  55 x 2 = 105 x 3 = 155 x 4 = 205 x 5 = 255 x 6 = 305 x 7 = 355 x 8 = 405 x 9 = 45
6 x 1 =  66 x 2 = 126 x 3 = 186 x 4 = 246 x 5 = 306 x 6 = 366 x 7 = 426 x 8 = 486 x 9 = 54
7 x 1 =  77 x 2 = 147 x 3 = 217 x 4 = 287 x 5 = 357 x 6 = 427 x 7 = 497 x 8 = 567 x 9 = 63
8 x 1 =  88 x 2 = 168 x 3 = 248 x 4 = 328 x 5 = 408 x 6 = 488 x 7 = 568 x 8 = 648 x 9 = 72
9 x 1 =  99 x 2 = 189 x 3 = 279 x 4 = 369 x 5 = 459 x 6 = 549 x 7 = 639 x 8 = 729 x 9 = 81

In [ ]:
i = 0
while i<3:
  print("%d : while문" %i)
  i = i+1

0 : while문
1 : while문
2 : while문

In [ ]:
# Q 1부터 10까지 합계를 while, for 문으로 
i, hap = 0,0
i = 1
while i<11:
  hap = hap+ i
  i=i+1

print("1부터 10까지의 합계: %d" %hap)

1부터 10까지의 합계: 55

In [ ]:
# Q 1부터 10까지 합계를 while, for 문으로 
i, hap = 0,0
for i in range(1,11,1):
  hap = hap + i

print("1부터 10까지의 합계: %d" %hap)

1부터 10까지의 합계: 55

In [ ]:
#while True:
  print("무한 루프ㅠㅠ ", end ='')

In [ ]:
# break
for i in range(1,100):
  print("for문 %d번 실행" %i)
  break
print("break 빠짐")

for문 1번 실행
break 빠짐

In [ ]:
hap = 0
a,b = 0,0
while True:
  a = int(input("덧셈 첫번째 수 입력: "))
  if a==0: 
    break
  b = int(input("덧셈 두번째 수 입력: "))
  hap = a + b
  print("%d + %d = %d" %(a,b,hap))

print("break로 탈출")

덧셈 첫번째 수 입력: 1
덧셈 두번째 수 입력: 2
1 + 2 = 3
덧셈 첫번째 수 입력: 0
break로 탈출

In [ ]:
#continue
hap, i = 0,0
for i in range(1,11):
  if i % 2 == 0:
    print("i:%d" %i)
    continue
  hap += i

print("1~10 합계(2의 배수 제외): %d" %hap)

i:2
i:4
i:6
i:8
i:10
1~10 합계(2의 배수 제외): 25

In [ ]:
#continue
hap, i = 0,0
for i in range(1,101):
  if i % 3 == 0:
    continue
  hap += i

print("1~100 합계(3의 배수 제외): %d" %hap)

1~100 합계(3의 배수 제외): 3367

In [ ]:
fruits = ["사과", "바나나", "체리"]
for x in fruits:
  if x == "바나나":
    continue
  print(x)

사과
체리

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("끝")

0
1
2
3
4
5
끝

In [ ]:
#for문 루프는 비워 둘수 없음
for x in [0,1,2]:
  pass

##함수

In [ ]:
#두수를 더하는 함수
def plus(v1,v2):
  result = 0
  result = v1+v2
  return result

hap = 0
hap = plus(10,20)
print("10+20 plus() 처리 결과는 %d " %hap)
hap = plus(20,30)
print("20+30 plus() 처리 결과는 %d " %hap)

10+20 plus() 처리 결과는 30
20+30 plus() 처리 결과는 50

In [ ]:
#계산기 코드
def calc(v1,v2,op):
  result = 0
  if op == '+':
    result = v1 + v2
  elif op == '-':
    result = v1 - v2
  elif op == '*':            
    result = v1 * v2
  elif op == '/':
    result = v1 / v2
  return result

rst = 0 
var1, var2, opr = 0,0,""

opr = input("(+,-,*,/) 입력: ")
var1 = int(input("1번째 수 입력: "))
var2 = int(input("2번째 수 입력: "))
rst = calc(var1, var2, opr)
print("계산기%d %s %d = %d" %(var1, opr, var2, rst))

(+,-,*,/) 입력: +
1번째 수 입력: 60
2번째 수 입력: 40
계산기60 + 40 = 100